@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: CircularStd;
  src: url("../public/fonts/CircularStd-Book.woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: CircularStd;
  src: url("../public/fonts/CircularStd-BookItalic.woff2");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: CircularStd;
  src: url("../public/fonts/CircularStd-Medium.woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: CircularStd;
  src: url("../public/fonts/CircularStd-MediumItalic.woff2");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: CircularStd;
  src: url("../public/fonts/CircularStd-Bold.woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: CircularStd;
  src: url("../public/fonts/CircularStd-BoldItalic.woff2");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: CircularStd;
  src: url("../public/fonts/CircularStd-Black.woff2");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: CircularStd;
  src: url("../public/fonts/CircularStd-BlackItalic.woff2");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: Manrope;
  src: url("../public/fonts/manrope-v13-latin-regular.woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Manrope;
  src: url("../public/fonts/manrope-v13-latin-500.woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Manrope;
  src: url("../public/fonts/manrope-v13-latin-600.woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Manrope;
  src: url("../public/fonts/manrope-v13-latin-700.woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Manrope;
  src: url("../public/fonts/manrope-v13-latin-800.woff2");
  font-weight: 800;
  font-style: normal;
}
