@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: CircularStd;
  src: url("../public/fonts/CircularStd-Book.woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: CircularStd;
  src: url("../public/fonts/CircularStd-BookItalic.woff2");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: CircularStd;
  src: url("../public/fonts/CircularStd-Medium.woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: CircularStd;
  src: url("../public/fonts/CircularStd-MediumItalic.woff2");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: CircularStd;
  src: url("../public/fonts/CircularStd-Bold.woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: CircularStd;
  src: url("../public/fonts/CircularStd-BoldItalic.woff2");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: CircularStd;
  src: url("../public/fonts/CircularStd-Black.woff2");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: CircularStd;
  src: url("../public/fonts/CircularStd-BlackItalic.woff2");
  font-weight: 900;
  font-style: italic;
}
